@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$light: #fffafa;
$mid: #e5e5e5;
$dark: #171717;
$accent: #186d8b;

@mixin background-scale($img) {
  background-image: url($img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin cta-button {
  margin-top: 1rem;
  padding: 0.3rem;

  font-size: 1.2rem;
  border: 0;
  border-radius: $rounded-border;

  &:hover {
    background-color: $accent;
    color: $light;

    cursor: pointer;
    transition: $trans-time;
  }
}

@mixin sm-card {
  .card {
    flex-direction: column;
    padding: 0 0 $sect-pad 0;

    img {
      border-radius: $rounded-border $rounded-border 0 0;
    }

    .text {
      padding: $sect-pad;
    }
  }
}

@mixin flex($direction) {
  flex-direction: $direction;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

//Border radii
$rounded-border: 10px;
$trans-time: 0.3s;
$sect-pad: 1rem;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: rubik;
  line-height: 1.5;
}

header {
  text-align: center;
  height: 100vh;

  @include background-scale("../images/synth.gif");
}

nav {
  text-align: right;
  padding: 2rem;

  a {
    color: white;
    text-decoration: none;

    background-color: rgb(35, 35, 35);
    padding: 0.3rem;
    border-radius: $rounded-border;
  }
}

.impArea {
  position: relative;
  top: 30%;

  color: $light;

  button {
    @include cta-button();
  }
}

// Split card sections

// The experience cards
.card {
  display: flex;
  padding: $sect-pad;

  color: $light;
  @include background-scale("../images/background.jpeg");
  border-radius: $rounded-border;

  margin: 1rem 0;

  img {
    border-radius: $rounded-border;
    object-fit: cover;
    height: 15.93rem;
  }

  h3 {
    margin-top: 1rem;
  }

  .card-subtitle {
    margin-bottom: 1rem;
  }

  .buttons {
    margin: 2rem 0 0 0;
  }
}

.link-btn {
  @include cta-button();
  background-color: $light;
  text-decoration: none;
  color: $dark;
}

.icon-holder {
  position: relative;
  width: 100%;
  height: 0;

  .i {
    background-color: darken($color: $accent, $amount: 5);

    height: 2.5rem;
    width: 2.5rem;
    padding: 0.2rem;

    border-radius: 100%;

    position: relative;
    left: $sect-pad;
    bottom: 1.5rem;

    text-align: center;

    img {
      height: 2.5rem;
      width: 2.5rem;
      filter: invert(1);
    }
  }
}

// For small screens (mobile)
@media screen and (max-width: 800px) {
  @include sm-card();
}

// For medium screens (tablet)
@media screen and (min-width: 800px) {
  .card {
    img {
      width: 25%;
    }

    .text {
      padding: 1rem;

      h3 {
        margin-bottom: 1rem;
      }
    }

    margin: 1rem;
    border-radius: $rounded-border;
  }

  .card-holder {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-left: 1rem;
  }

  .icon-holder {
    display: none;
  }
}

// For large screens (desktop)
@media screen and (min-width: 1250px) {
  @include sm-card();

  .title {
    text-align: center;
  }

  .showcase {
    @include flex(row);
  }

  .card {
    width: 100%;
    height: 32rem;

    img {
      width: 100%;
      height: 27%;
    }
  }

  .card-holder {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .title {
    margin-left: 1rem;
  }

  .icon-holder {
    display: block;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
  }
}

.showcase {
  background-color: $light;
  padding: $sect-pad;
}

.title {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 2rem;
}

#projects {
  background-color: $accent;

  .title {
    color: $light;
  }
}

//ARTICLE SECTION

.article-nav {
  background-color: $accent;
  text-align: left;
}

.article-head {
  text-align: center;
  padding: 1rem;

  img {

    @media  screen and (min-width: 1000px) {
      width: 50%;
    }
    width: 90%;
    border-radius: $rounded-border;
  }
}

.article-body {
  text-align: left;
  width: 50%;
  margin: auto;
  padding: 2rem 0;

  h3 {
    text-align: center;
  }
}
